body {
  background-image: url("images/markus-spiske-UCbMZ0S-w28-unsplash.jpg");
  background-size: cover;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Geneva', 'Verdana', 'sans-serif';
}

a {
  text-decoration: none;
}

#heading {
  padding: 100px;
  font-size: 50px;
  font-weight: 150;
  color: black;
}

#navigation_panel tr td {
  padding: 20px;
}

#navigation_panel tr td:hover {
  color: white;
}

#navigation_panel tr td a {
  color: black;
}

#navigation_panel tr td a:hover {
  color: white;
}

#intro {
  color: white;
  font-size: 20px;
}