body {
  background-image: url("../images/markus-spiske-UCbMZ0S-w28-unsplash.jpg");
  background-size: cover;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Lucida Sans Regular', 'Geneva', 'Verdana', 'sans-serif';
}

#heading {
  padding: 75px;
  font-size: 75px;
  font-weight: 150;
  color: black;
}

.gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, wheat, #af4261);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#navigation_panel tr td {
  padding: 20px;
  align-content: center;
}

#navigation_panel tr td a {
  text-decoration: none;
  color: black;
}

#navigation_panel tr td a:hover {
  color: white;
}

#intro {
  color: white;
  font-size: 20px;
}